---
import Header from "../components/Header.astro"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
          href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet"
        />
	</head>
      <body hx-boost="true" class="bg-gray-100 text-gray-900">
        <Header />
        <main class="container flex-1 px-4 py-4">
          <slot />
        </main
        <div class="m-4">
          <a
            href="/about"
            class="font-medium text-gray-700 hover:text-gray-950 dark:text-gray-400 dark:hover:text-gray-50"
          >
            About
          </a>
          <a
            href="/details"
            class="font-medium text-gray-700 hover:text-gray-950 dark:text-gray-400 dark:hover:text-gray-50"
          >
            Details
          </a>
        </div>
	</body>
</html>

<script>
  import Alpine from 'alpinejs'
  import focus from '@alpinejs/focus'
  import htmx from "htmx.org"
  
  Alpine.plugin(focus)

  // Reinitialize Alpine after each "boosted" page change.
  //htmx.on("htmx:afterSettle", (event) => {
  //  if (event.detail.boosted) {
  //    Alpine.destroyTree(document.body)
  //    Alpine.initTree(document.body)
  //  }
  //})
</script>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
    /* Set Alpine.js cloak preference. */
    [x-cloak] {
      display: none !important;
    }

    /* Set base font size to 15.5px, Tailwind CSS font sizes will derive off this base REM size. */
    html {
      font-size: 15.5px;
    }

    /* Indicate to the browser that we are in dark mode. Scrollbars should now be rendered dark. */
    .dark {
      color-scheme: dark;
    }

    /*@view-transition {*/
    /*  navigation: auto;*/
    /*}*/
</style>
